body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #0a5716;
    color: rgb(189, 197, 166);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.materias-grid, .topics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.materia-card, .topic-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.materia-card:hover, .topic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.back-button  {
    background: #9e0404;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    
    .materias-grid, .topics-grid {
        grid-template-columns: 1fr;
    }
}